<h1>Bookmarks </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
      <ul id='tags'> Tag: <% link.tags.each do |tag| %>
        <li>
          <%= tag %>
        </li>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul>
