<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

<body>


<h2>Bookmarks </h2>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
      Tags: <%= link.tags.map { |tag| tag.name }.sort.join(", ") %>
  </li>
  <% end %>
</ul>
</body>
</html>
