<h1>Bookmarks </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
      Tags: <%= link.tags.map { |tag| tag.name }.sort.join(", ") %>
  </li>
  <% end %>
</ul>
